@import url(base.css);
.footer-text,
.home {
	font-family: Roboto;
}
.footer-text,
a {
	font-weight: 600;
	color: var(--grey-main);
}
.footer-text:hover,
.home:hover,
li:hover {
	color: var(--red-main);
}
body {
	background-color: var(--dark-background);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	padding: 32px 0;
}
body div {
	display: flex;
	gap: 16px;
}
.home {
	background-color: var(--dark-card);
	border-radius: 2rem;
	padding: 9px 18px;
	margin-bottom: 12px;
	border: 2px solid var(--grey-main);
	font-weight: 600;
	font-size: 14px;
}
.home:hover {
	transition: 0.2s ease-in-out;
	border-color: var(--red-main);
	box-shadow: 0 0 12px var(--red-main);
}
div .art-container {
	display: flex;
	flex-direction: column;
	gap: 18px;
	list-style-type: none;
}
img {
	width: 294px;
	border-radius: 1rem;
	box-shadow: 10px 10px 15px var(--darkest);
}
li:hover > img {
	cursor: pointer;
}
a {
	font-family: Kanit;
	font-size: 24px;
	text-decoration: none;
}
li:hover {
	transition: 250ms ease-in-out;
	transform: scale(1.05);
}
.footer-text {
	font-size: 18px;
	letter-spacing: 1px;
}
.footer-text:hover {
	transition: 0.3s ease-in-out;
	cursor: default;
}
