@media screen and (max-width: 450px) {
	.footer-text,
	a.home {
		font-size: 13px !important;
	}
	* {
		width: unset !important;
		height: unset !important;
	}
	a.home {
		margin-bottom: 16px !important;
	}
	img {
		width: 28vw !important;
	}
	p {
		margin: 16px 0 !important;
	}
}