@media screen and (max-width: 1200px) {
	#grid,
	.nav {
		width: 90vw !important;
	}
	.nav a,
	body * {
		font-size: 13px !important;
	}
	body * {
		width: unset !important;
		min-width: unset !important;
		max-width: 90vw !important;
		height: unset !important;
		min-height: unset !important;
		max-height: unset !important;
		padding: unset !important;
		margin: unset !important;
	}
	body {
		gap: 20px;
	}
	img {
		width: 5px !important;
	}
	i {
		font-size: unset !important;
	}
	#grid {
		grid-template-columns: repeat(2, 1fr) !important;
	}
	.grid-list-default {
		grid-template-areas: 'profile-card profile-card' 'map-card   map-card' 'product-card to-do-card' 'product-card to-do-card' 'my-stack-card my-stack-card' 'insta-card github-card' 'artstation-card art-card' 'article-card article-card' 'discord-card discord-card' !important;
	}
	.grid-list-about {
		grid-template-areas: 'profile-card profile-card' 'my-stack-card my-stack-card' 'insta-card github-card' 'product-card to-do-card' 'product-card to-do-card' 'artstation-card art-card' 'article-card article-card' 'map-card   map-card' 'discord-card discord-card' !important;
	}
	.grid-list-projects {
		grid-template-areas: 'profile-card profile-card' 'product-card to-do-card' 'product-card to-do-card' 'artstation-card art-card' 'my-stack-card my-stack-card' 'insta-card github-card' 'article-card article-card' 'map-card   map-card' 'discord-card discord-card' !important;
	}
	.grid-list-media {
		grid-template-areas: 'insta-card github-card' 'artstation-card art-card' 'discord-card discord-card' 'article-card article-card' 'product-card to-do-card' 'product-card to-do-card' 'profile-card profile-card' 'my-stack-card my-stack-card' 'map-card   map-card' !important;
	}
	.nav {
		margin-top: 24px !important;
		padding: 12px 5% !important;
	}
	.discord-card,
	.profile-card {
		padding: 24px !important;
	}
	.product-card div,
	.to-do-card {
		padding: 9px 6px !important;
		display: flex !important;
	}
	.profile-card div {
		gap: 12px !important;
	}
	.profile-card p {
		line-height: 1.2rem !important;
	}
	.profile-card img {
		width: 64px !important;
	}
	.profile-card div .emoji {
		height: 13px !important;
		width: 13px !important;
	}
	.map-card,
	#map {
		overflow: hidden !important;
	}
	.map-card,
	.map-card * {
		height: 200px !important;
		width: 100% !important;
		border-radius: 2rem !important;
	}
	.map-card {
		height: 101% !important;
	}
	#map button,
	#map span, 
	#map img,
	#map a {
		display: none !important;
	}
	.product-card,
	.to-do-card {
		width: 100% !important;
		height: 250px !important;
	}
	.product-card div {
		width: 100% !important;
		gap: 0 !important;
		flex-direction: column !important;
		align-items: center !important;
	}
	.product-card div ul {
		width: 100% !important;
		gap: 6px !important;
	}
	.product-card div ul li {
		padding: 12px !important;
		border-radius: 0.8rem !important;
		width: 100% !important;
	}
	.to-do-card {
		overflow: hidden !important;
		flex-direction: column !important;
		align-items: center !important;
	}
	.to-do-card .to-do-container {
		padding: 12px !important;
		width: 100% !important;
		height: 100% !important;
	}
	.to-do-card .to-do-container::-webkit-scrollbar {
		width: 12px !important;
	}
	.to-do-card .to-do-container::-webkit-scrollbar-thumb {
		background-color: var(--grey-main) !important;
		border: 5px solid var(--dark-card) !important;
		border-radius: 2rem !important;
	}
	.to-do-card .to-do-container::-webkit-scrollbar-track {
		background-color: transparent !important;
	}
	.to-do-card .to-do-container li {
		width: 100% !important;
		padding: 12px !important;
		text-align: center !important;
	}
	.to-do-card .to-do-container li .date {
		font-size: 9px !important;
	}
	.to-do-card:hover > ::-webkit-scrollbar-thumb {
		background-color: var(--red-main) !important;
	}
	.my-stack-card {
		padding: 12px !important;
		text-align: center;
	}
	.discord-card h3,
	.my-stack-card h1 {
		font-size: 16px !important;
	}
	.my-stack-card ul {
		width: 90% !important;
		height: 42px !important;
		padding: 7px !important;
		overflow-y: hidden;
	}
	.my-stack-card ul::-webkit-scrollbar {
		height: 10px !important;
	}
	.my-stack-card ul::-webkit-scrollbar-thumb {
		width: 3px;
		border: 4px solid var(--dark-background) !important;
	}
	.my-stack-card ul img {
		width: 26px !important;
	}
	.art-card,
	.artstation-card,
	.github-card,
	.insta-card {
		height: 150px !important;
	}
	.art-card div,
	.artstation-card div,
	.github-card div,
	.insta-card div {
		height: 100% !important;
		width: 100% !important;
	}
	.art-card div > i,
	.artstation-card div > i,
	.github-card div > i,
	.insta-card div > i {
		font-size: 64px !important;
	}
	.art-card a > i,
	.article-card div a,
	.artstation-card a > i,
	.github-card a > i,
	.insta-card a > i {
		font-size: 12px !important;
	}
	.art-card h1,
	.artstation-card h1,
	.github-card h1,
	.insta-card h1 {
		display: none;
	}
	.article-card {
		padding: 24px !important;
		text-align: center !important;
	}
	.article-card h1,
	.article-card span {
		font-size: 18px !important;
		text-align: center !important;
	}
	.article-card div a {
		padding: 6px 12px !important;
	}
	.discord-card div {
		gap: 21px !important;
	}
	.discord-card div > i {
		font-size: 56px !important;
	}
	.footer-text {
		margin: 12px 0 !important;
	}
}
