@import url(./base.css);
.discord-card h3,
body {
	display: flex;
	align-items: center;
}
.product-card div ul li,
body {
	background-color: var(--dark-background);
}
.product-card h1,
body {
	color: var(--white-main);
}
body {
	flex-direction: column;
}
body {
	gap: 54px;
	font-family: 'Roboto';
	padding: 3% 20%;
}
h1 {
	font-size: 24px;
}
p {
	font-size: 18px;
	letter-spacing: 1px;
	object-fit: fill;
}
a {
	color: var(--grey-main);
	text-decoration: none;
}
.art-card:hover div > h1,
.art-card:hover div > i,
.artstation-card:hover div > h1,
.artstation-card:hover div > i,
.discord-card div a:hover > i,
.github-card:hover div > h1,
.github-card:hover div > i,
.insta-card:hover div > h1,
.insta-card:hover div > i,
.nav li a:hover,
.product-card div ul li:hover > a,
.product-card:hover > div h1,
.to-do-card ul li:hover > .content,
a:hover {
	color: var(--red-main);
	transition: 300ms ease-in-out;
}
.profile-card span,
a.selected {
	color: var(--red-main);
}
.nav,
.profile-card div div ul {
	display: flex;
	list-style-type: none;
}
.nav,
.profile-card div div {
	justify-content: space-between;
}
.nav {
	width: 320px;
	gap: 12px;
	border-radius: 2rem;
	border: 2px solid var(--grey-main);
	padding: 9px 18px;
	font-size: 14px;
	background-color: var(--dark-card);
	font-weight: 600;
}
.nav li a:hover,
.to-do-card ul li:hover > .content {
	cursor: pointer;
}
#grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	list-style-type: none;
}
.grid-list-default {
	grid-template-areas:
		'profile-card profile-card   map-card   product-card'
		'discord-card insta-card     to-do-card product-card'
		'article-card article-card   to-do-card github-card'
		'my-stack-card my-stack-card artstation-card art-card';
}
.grid-list-about {
	grid-template-areas:
		'profile-card profile-card    map-card   insta-card'
		'my-stack-card my-stack-card  to-do-card product-card'
		'artstation-card github-card    to-do-card product-card'
		'discord-card article-card article-card art-card';
}
.grid-list-projects {
	grid-template-areas:
		'profile-card profile-card   product-card to-do-card'
		'artstation-card github-card product-card to-do-card'
		'art-card my-stack-card     my-stack-card insta-card'
		'article-card article-card discord-card map-card';
}
.grid-list-media {
	grid-template-areas:
		'profile-card profile-card   insta-card   artstation-card'
		'github-card art-card     discord-card    product-card'
		'my-stack-card my-stack-card   to-do-card product-card'
		'article-card article-card to-do-card map-card';
}
.grid-item {
	background-color: var(--dark-card);
	border-radius: 24px;
	border: 2px solid var(--grey-main);
	min-height: 260px;
	min-width: 260px;
}
.grid-item:hover,
.nav:hover {
	border-color: var(--red-main);
	transition: 350ms ease-in-out;
	box-shadow: 0 0 12px var(--red-main);
}
.profile-card {
	grid-area: profile-card;
	padding: 32px;
}
.profile-card span {
	font-weight: 600;
}
.profile-card > div {
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.profile-card div div {
	display: flex;
	align-items: flex-start;
}
.profile-card div div ul {
	gap: 16px;
	font-size: 18px;
}
.profile-card div div ul li a {
	padding: 9px;
}
.profile-card div img {
	border-radius: 50%;
	width: 136px;
}
.map-card,
.product-card {
	grid-area: map-card;
	overflow: hidden;
}
.map-card div,
.map-card div iframe {
	width: 100%;
	height: 100%;
}
.map-card div iframe {
	position: relative;
	filter: grayscale(100%) invert(100%);
}
.product-card {
	grid-area: product-card;
}
.product-card div,
.product-card div ul {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.product-card div {
	gap: 42px;
	width: 100%;
}
.product-card h1 {
	text-align: center;
	font-weight: 600;
	margin-top: 48px;
}
.product-card div ul {
	list-style-type: none;
	gap: 32px;
	align-items: center;
}
.product-card div ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	width: 90%;
}
.product-card div ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 24px;
	padding: 25px 0;
	font-family: 'Kanit';
}
.product-card div ul li:hover {
	background-color: var(--darkest);
	transition: 300ms ease-in-out;
}
.discord-card {
	grid-area: discord-card;
}
.discord-card div {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 19px 16px;
}
.article-card div div,
.discord-card div div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.discord-card div > i {
	font-size: 54px;
}
.discord-card div a {
	height: fit-content;
	width: fit-content;
}
.discord-card div a:hover {
	border-color: var(--red-main);
	transition: 300ms ease-in-out;
}
.discord-card h3 {
	gap: 6px;
}
.discord-card h3 i {
	font-size: 12px;
}
.article-card div div p,
.discord-card div a,
.discord-card h3 i,
.discord-card p.sub {
	color: var(--grey-main);
}
.insta-card {
	grid-area: insta-card;
}
.artstation-card {
	grid-area: artstation-card;
}
.art-card h1,
.artstation-card h1,
.github-card h1,
.insta-card h1 {
	letter-spacing: 1.5px;
}
.art-card div,
.artstation-card div,
.insta-card div {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.art-card div,
.artstation-card div,
.github-card div,
.insta-card div {
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
}
.art-card div > i,
.artstation-card div > i,
.github-card div > i,
.insta-card div > i {
	font-size: 96px;
	color: #fff;
}
.art-card div a,
.artstation-card div a,
.github-card div a,
.insta-card div a {
	position: absolute;
	bottom: 16px;
	left: 16px;
	text-decoration: none;
	color: var(--grey-main);
	padding: 6px;
	width: fit-content;
	height: fit-content;
}
.art-card div a i,
.artstation-card div a i,
.github-card div a i,
.insta-card div a i {
	font-size: 12px;
}
.art-card div a i:hover,
.article-card div a:hover,
.artstation-card div a i:hover,
.github-card div a i:hover,
.insta-card div a i:hover {
	transition: 300ms ease-in-out;
	color: var(--red-main);
}
.article-card {
	width: 560px;
	grid-area: article-card;
}
.article-card h1,
.my-stack-card h1 {
	letter-spacing: 1px;
}

.article-card h1 span {
	font-style: italic;
}
.article-card div {
	height: 100%;
	width: 100%;
	padding: 32px;
	gap: 16px;
}
.article-card div div {
	padding: 0;
	align-items: center;
}
.article-card div a {
	border: 1px solid var(--grey-main);
	padding: 7px 12px;
	border-radius: 2rem;
	display: flex;
	gap: 12px;
	align-items: center;
}
.article-card div a:hover {
	border-color: var(--red-main);
}
.to-do-card {
	grid-area: to-do-card;
	padding: 19px 0;
}
.article-card div,
.to-do-card ul,
.to-do-card ul li {
	display: flex;
	flex-direction: column;
}
.to-do-card ul {
	gap: 6px;
	list-style-type: none;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	padding: 0;
}
.to-do-card ul li {
	background-color: var(--dark-background);
	width: 90%;
	border-radius: 0.5rem;
	padding: 16px;
	gap: 9px;
}
.to-do-card ul li p span {
	font-weight: 600;
	font-style: italic;
}
.to-do-card ul li:hover > .content {
	transition: 300ms;
}
.to-do-card ul li .content {
	font-size: 16px;
}
.date,
.sub {
	color: var(--grey-main);
	font-size: 14px;
	letter-spacing: unset;
}
::-webkit-scrollbar {
	width: 7px;
}
.my-stack-card:hover ::-webkit-scrollbar-thumb,
.to-do-card:hover > ::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
	background-color: var(--red-main);
}
.to-do-card ::-webkit-scrollbar {
	width: 21px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
.to-do-card ::-webkit-scrollbar-thumb {
	border: 7px solid var(--dark-card);
}
.to-do-card ::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
	border-radius: 2rem;
	background-color: var(--grey-main);
}
.my-stack-card {
	grid-area: my-stack-card;
}
.my-stack-card div {
	padding: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}
.my-stack-card div ul {
	margin-top: 21px;
	list-style-type: none;
	background-color: var(--darkest);
	border-radius: 0.5rem;
	display: flex;
	overflow-x: scroll;
	justify-content: flex-start;
	gap: 24px;
	width: 100%;
	padding: 6px 32px;
}
.my-stack-card div ul::-webkit-scrollbar {
	height: 5px;
	border: 2px solid transparent;
}
.my-stack-card div ul::-webkit-scrollbar-thumb {
	width: 10px;
}
.my-stack-card div ul li img {
	width: 42px;
	background-color: rgb(40, 40, 40) !important;
	padding: 2px !important;
	border-radius: 0.2rem !important;
}
.github-card {
	grid-area: github-card;
}
.github-card div {
	padding: 32px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.art-card {
	grid-area: art-card;
}
a i {
	font-size: 16px !important;
}
.footer-text {
	font-weight: 600;
	color: var(--grey-main);
}
.footer-text:hover {
	transition: 300ms ease-in-out;
	color: var(--red-main);
	cursor: default;
}
.basic {
	width: 280px;
	height: 300px;
}
.large-horizontal {
	width: 580px;
}
.large-vertical {
	height: 620px;
}

@media screen and (max-width: 360px) {

	/* reset css */
	body * {
		width: unset !important;
		min-width: unset !important;
		max-width: 90vw !important;
		height: unset !important;
		min-height: unset !important;
		max-height: unset !important;
		padding: unset !important;
		margin: unset !important;
		font-size: 10px !important;
	}

	body {
		gap: 20px;
	}

	img {
		width: 5px !important;
	}

	i {
		font-size: unset !important;
	}

	#grid {
		width: 90vw !important;
		grid-template-columns: repeat(2, 1fr) !important;
		grid-template-areas: 
		'profile-card profile-card'
		'map-card   map-card'
		'product-card to-do-card'
		'product-card to-do-card'
		'my-stack-card my-stack-card'
		'insta-card github-card'
		'artstation-card art-card'
		'article-card article-card'
		'discord-card discord-card' !important;
	}

	/* main styles */


	.nav {
		margin-top: 24px !important;
		padding: 12px 5% !important;
		width: 90vw !important;
	}

	.nav a {
		font-size: 16px !important;
	}


	.profile-card {
		padding: 24px !important;
	}

	.profile-card div {
		gap: 12px !important;
	}

	.profile-card img {
		width: 64px !important;
	}

	.profile-card p, .profile-card p span {
		font-size: 16px !important;
	}

	.map-card, .map-card * {
		width: 100% !important;
	}
	.map-card * {
		height: 100% !important;
	}

	.product-card, .to-do-card {
		width: 100% !important;
		height: 250px !important;
	}

	.product-card div {
		width: 100% !important;
		padding: 24px 0px !important;
		gap: 0px !important;
		display: flex !important;
		flex-direction: column 	!important;
		align-items: center !important;
	}
	
	.product-card div ul {
		width: 85% !important;
		gap: 6px !important;
	}

	.product-card div ul li {
		padding: 12px !important;
		width: 100% !important;
	}

	.to-do-card {
		padding: 12px 3px 12px 16px !important;
	}


	/* to-do-container */

	.to-do-card .to-do-container {
		width: 100% !important;
		height: 100% !important;
	}

	.to-do-card .to-do-container::-webkit-scrollbar {
		width: 12px !important;
	}


	.to-do-card .to-do-container::-webkit-scrollbar-thumb {
		background-color: var(--grey-main) !important;
		border: 5px solid var(--dark-card) !important;
		border-radius: 2rem !important;
	}

	.to-do-card .to-do-container::-webkit-scrollbar-track {
		background-color: transparent !important;
	}

	.to-do-card .to-do-container li {
		width: 100% !important;
		padding: 12px !important;
		text-align: center !important;
	}

	.to-do-card .to-do-container li .date {
		font-size: 9px !important;
	}

	.to-do-card:hover > ::-webkit-scrollbar-thumb {
		background-color: var(--red-main) !important;
	}


	/* tools I use */

	.my-stack-card {
		padding: 12px !important;
		text-align: center;
	}

	.my-stack-card ul {
		width: 90% !important;
		height: 36px !important;
		padding: 7px !important;
		overflow-y: hidden;
	}

	.my-stack-card ul::-webkit-scrollbar {
		height: 10px !important;	
	}
	.my-stack-card ul::-webkit-scrollbar-thumb {
		width: 3px;
		border: 4px solid var(--darkest) !important;
	}

	.my-stack-card ul img {
		width: 19px !important;
	}


	/* social icons */

	.insta-card,
	.github-card,
	.art-card,
	.artstation-card {
		height: 150px !important;
	}

	.insta-card div,
	.github-card div,
	.art-card div,
	.artstation-card div {
		height: 100% !important;
		width: 100% !important;	
	}

	.insta-card div > i,
	.github-card div > i,
	.art-card div > i,
	.artstation-card div > i {
		font-size: 64px !important;
	}

	.insta-card a > i,
	.github-card a > i,
	.art-card a > i,
	.artstation-card a > i {
		font-size: 12px !important;
	}

	.insta-card h1,
	.github-card h1,
	.art-card h1,
	.artstation-card h1 {
		display: none;
	}

	/* article card */

	.article-card {
		padding: 24px 12px !important;
	}

	.article-card h1, 
	.article-card  span {
		font-size: 18px !important;
		text-align: center !important;
	}
	.article-card div a {
		padding: 6px 12px !important;
		font-size: 12px !important;
	}

	.discord-card {
		padding: 24px !important;
	}

	.discord-card div {
		gap: 5px !important;
	}

	.discord-card div > i {
		font-size: 56px !important;
	}

	.discord-card h3 {
		font-size: 16px !important;
	}
}
