@media screen and (max-width: 450px) {
	.art-container li {
		border-radius: 1.5rem !important;
	}
	.footer-text,
	a.home {
		font-size: 13px !important;
		margin-bottom: 16px !important;
	}
	img {
		border-radius: 1.5rem !important;
		width: 26vw !important;
	}
	p {
		margin: 16px 0 !important;
	}
}